<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" routerLink="/home">
          <img src="assets\icon.png" style="max-width:100%;height:auto" alt="" width="30" height="24">
        </a>
      </div>
    </nav>    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/browse" routerLinkActive="active ">Browse </a>

      </div>
      <img src="assets\rays.png" style="width: 9rem; height: 4rem; margin-left: 15rem" ><h1>Courses</h1>

      <div class="navbar-nav" >
        <a class="nav-link" routerLink="/login" routerLinkActive="active " style="margin-left: 25rem">Login</a>

      </div>

    </div>
  </div>
</nav>
